.eter_spreadH {
  display: none;
}
.section_reck_eter{
  height: 70%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  /* 규민이 6줄 요청 */
  overflow: scroll;
  padding: 0px 10px;
  background-color: var(--color-gray);
}
.section_reck_eter::-webkit-scrollbar {
  display: none;
}
/* 통일성을 위해 22vh에서 16%로 변경 */
.clicked_reck {
  height: 16%;
  min-height: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0px 20px;
  background-color: var(--color-darkgray);
}
.clicked_reck::-webkit-scrollbar {
  display: none;
}
.clicked_img {
  width: 70px;
  height: 105px;
  margin: 0px 4px;
}