/* responsive를 위해 560px에서 70%로 바꿈 */
.img_index {
  height: 100%;
  position: relative;
  /* display: inline; */
}
.works_exhi_index1 {
  height: 100%;
  margin: 0px 10px;
}
.works_exhi_index2 {
  position: absolute;
  left: 0;
  opacity: 0;
  height: 100%;
  margin: 0px 10px;
}
.works_exhi_index2:hover {
  opacity: 1;
  transition: all 500ms ease-in-out;
}
