:root {
  /* color */
  --color-black: #13131a;
  --color-white: #e8f1fa;
  --color-gray: #dbdbdd;
  --color-darkgray: #a9a9a9;
  --color-ddarkgray: #5c5555;
  --color-dddarkgray: rgb(65, 73, 73);
  --color-red: #e04d4d;
  /* Font size */
  --font-mmax: 50px;
  --font-max: 30px;
  --font-big: 26px;
  --font-regular: 18px;
  --font-medium: 16px;
  --font-small: 14px;
  --font-min: 12px;
  --font-mmin: 10px;
  /* Font weight */
  --weight-Extra-bold: 700;
  --weight-bold: 500;
  --weight-medium: 400;
  --weight-light: 300;
  /* Font family */
  /* Google */
  --typo-nanum: "Nanum Myeongjo", serif;
  --typo-roboto: "Roboto", sans-serif;
}
/* universe */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
/* only Head on project_content */
h1 {
  margin: 0px;
  font-family: var(--typo-roboto);
  font-weight: var(--weight-bold);
  font-size: var(--font-mmax);
}
h2 {
  margin: 0px;
}
/* only name on About */
h3 {
  margin: 0px;
}
h5{
  font-weight: var(--weight-medium);
}
p {
  margin: 0px;
  /* font-family: var(--typo-nanum); */
}
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: var(--color-black);
}
.App {
  background-color: var(--color-gray);
}

/* --------------------------------------------- Refactoring */
.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* responsive를 위해 80px에서 10%로 바꿈 */
.section_title {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section_title h1 {
  margin-left: 30px;
}
.section_title button {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border: none;
  background-color: var(--color-white);
  border-radius: 5rem;
  cursor: pointer;
  color: var(--color-ddarkgray);
}
.section_title button:hover {
  transform: scale(1.16);
  transition: all 200ms ease-in-out;
}
.section_reck {
  height: 70%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0px 10px;
  margin-bottom: 0.9rem;
  background-color: var(--color-gray);
}
.section_reck::-webkit-scrollbar {
  display: none;
}
.img_info {
  text-align: center;
  font-size: var(--font-medium);
}
.thumbnail {
  height: 16%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* margin: 16px 0px; */
  white-space: nowrap;
  overflow-x: scroll;
  background-color: var(--color-darkgray);
}
.thumbnail::-webkit-scrollbar {
  display: none;
}
.thumbnail_each {
  height: 90%;
  margin: 0 20px;
  margin-right: 30px;
}
.filter {
  filter: contrast(50%);
}
