@media screen and (max-width: 768px) {
  .eterZero_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .eterOne_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .eterTwo_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .eterThree_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .eterFour_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .eterFive_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .eterSix_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .eterSeven_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .eterEight_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .eterNine_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .eterTen_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .eterEleven_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .eterTwelve_grid_container {
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }

  .dragablImg {
    width: 60px;
    height: 90px;
  }

}
@media screen and (max-width: 558px) {
}

@media screen and (max-width: 400px) {
}
