@media screen and (max-width: 768px) {
  .total8_grid_container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .total12_grid_container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .total16_grid_container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .total20_grid_container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .total24_grid_container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .total32_grid_container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .total40_grid_container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .total40_grid_container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 90px 90px 90px 90px;
    margin: 0px 14px;
  }
  .dragablImg {
    width: 60px;
    height: 90px;
  }

}
@media screen and (max-width: 558px) {
}

@media screen and (max-width: 400px) {
}
