@media screen and (max-width: 768px) {
  .img_index {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .works_exhi_index1 {
    width: 80%;
    height: auto;
    margin: 10px 0px;
  }
  .works_exhi_index2 {
    position: absolute;
    left: auto;
    width: 80%;
    height: auto;
    margin: 10px 0px;
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}
