.eterZero_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.eterOne_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.eterTwo_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.eterThree_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.eterFour_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.eterFive_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.eterSix_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.eterSeven_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.eterEight_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.eterNine_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.eterTen_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}

.dragablImg {
  width: 76px;
  height: 114px;
  position: relative;
  cursor: move;
}

.grid_container2 {
  position: relative;
  left: 6%;
  display: grid;
  /* grid-gap: 10px; */
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
  grid-template-rows: 120px 120px 120px 120px;
}

.drag_box {
  position: relative;
  width: 80px;
  height: 120px;
  float: left;
}
.drag_handle {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 120px;
  cursor: grab;
}
.dragImg {
  width: 80px;
  height: 120px;
}

.no-cursor {
  cursor: auto;
}
.cursor {
  cursor: move;
}
