/* responsive를 위해 140px에서 16%로 바꿈 */
.works_info {
  height: 16%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 20px;
}
.works_info .title {
  line-height: 24px;
}
.title_title {
  margin-bottom: 20px;
  font-size: var(--font-big);
  font-weight: var(--weight-Extra-bold);
}
.title_detail {
  font-size: var(--font-medium);
  /* font-family: var(--typo-nanum); */
}
.works_info .contact {
  text-align: right;
  align-self: flex-end;
}
