.grid_container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1100px;
  height: 92%;
  /* 규민이 6줄 요청 */
  /* justify-content:center; */
  /* height: 560px; */
  position: relative;
  top: 0%;
  left: 26%;
  transform: translate(-26%, 0%);
  background-color: var(--color-gray);
}
.grid_container:hover .grid_box{
  background-color: rgb(225, 216, 206);
  border: solid var(--color-gray) 1px;
  transition: all 2s ease;
}
.grid_container_row{
  display: flex;
  flex-direction: row;
}
.grid_box{
  width: 70px;
  height: 105px;
  margin: 2px 6px;
  /* 규민이 6줄 요청 */
  /* width: 76px; */
  /* height: 114px; */
  /* margin: 2px 8px; */
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid rgba(178, 177, 174, 0.3) 1px;
  transition: all 1.2s ease;
}
.img_btn_box{
  position: relative;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.drag_img{
  width: 100%;
  height: 100%;
  /* 규민이 6줄 요청 */
  /* width: 76px; */
  /* height: 114px; */
  margin: 0px;
}
.img_btn_reck{
  position: absolute;
  opacity: 0;
}
.img_btn_box:hover .img_btn_reck{
  opacity: 100;
  transition: all 0.6s ease;
  top: 76%;
  left: 52%;
  transform: translate(-48%, 0%);
}
.img_btn{
  padding: 3px 6px;
  margin: 0px 2px;
  border: none;
  border-radius: 5rem;
  background-color: rgba(245, 237, 220, 0.8);
  cursor: pointer;
}