@media screen and (max-width: 768px) {
  .penet_reck_video {
    width: 90%;
    height: auto;
    margin: 10px 0px;
  }
  .penet_reck_each {
    width: 90%;
    height: auto;
    margin: 10px 0px;
    padding: 0px 0px;
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}
