.section_eter {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.eter_title {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.eter_title h1 {
  margin-left: 30px;
}
.eter_title button {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border: none;
  background-color: var(--color-white);
  border-radius: 5rem;
  cursor: pointer;
}
.eter_title button:hover {
  transform: scale(1.16);
  transition: all 200ms ease-in-out;
}
.eter_reck {
  height: 70%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  background-color: var(--color-gray);
}
.eter_reck::-webkit-scrollbar {
  display: none;
}
.eter_spreadH {
  display: none;
}
.eter_btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 0px;
}
.eter_btn {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border: none;
  background-color: var(--color-white);
  border-radius: 5rem;
  cursor: pointer;
}
.eter_btn:hover {
  transform: scale(1.16);
  transition: all 200ms ease-in-out;
}
.push {
  position: absolute;
  top: -6px;
  right: -6px;
  padding: 2px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5rem;
  background-color: var(--color-red);
  color: var(--color-white);
}

.fontAwesome {
  font-size: var(--font-medium);
}
/* 통일성을 위해 22vh에서 16%로 변경 */
.screenshot_reck {
  height: 16%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
}
/* 통일성을 위해 width 제어에서 height 제어로 변경 */
.screenshot {
  height: 90%;
  /* width: 240px; */
  margin: 0px 20px;
}
/* 통일성을 위해 22vh에서 16%로 변경 */
.clicked_reck {
  height: 16%;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0px 20px;
  background-color: darkgray;
}
.clicked_reck::-webkit-scrollbar {
  display: none;
}
.clicked_reck .clicked_img {
  width: 80px;
  height: 120px;
  margin: 0px 4px;
}
