.section_omma {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.omma_title {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.omma_title h1 {
  margin-left: 30px;
  font-size: var(--font-mmax);
}
.omma_title button {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border: none;
  background-color: var(--color-white);
  border-radius: 5rem;
  cursor: pointer;
}
.omma_title button:hover {
  transform: scale(1.16);
  transition: all 200ms ease-in-out;
}
.omma_reck {
  height: 560px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.omma_reck::-webkit-scrollbar {
  display: none;
}
.omma_reck_each {
  height: 540px;
  padding: 0px 8px;
}
.omma_reck_each_print {
  height: 160px;
  margin-left: 0px;
  padding-right: 4px;
  /* margin-right: 6px; */
}
.img_info {
  text-align: center;
}
.img_info span {
  font-size: var(--font-medium);
}
.omma_thumbnail {
  height: 140px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 16px 0px;
  white-space: nowrap;
  overflow-x: scroll;
}
.omma_thumbnail::-webkit-scrollbar {
  display: none;
}
.omma_thumbnail_black {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(65, 73, 73);
}
.omma_thumbnail_white {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  background-color: darkgray;
}
.omma_thumbnail_each {
  height: 120px;
  margin-left: 20px;
  margin-right: 30px;
}
.omma_print_thumbnail_each {
  height: 50px;
  margin-left: 0px;
  margin-right: 6px;
}
.filter {
  filter: contrast(50%);
}
