.section_works {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.works_title {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.works_title h1 {
  margin-left: 30px;
  font-size: var(--font-mmax);
}
.works_title button {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border: none;
  background-color: var(--color-white);
  border-radius: 5rem;
  cursor: pointer;
}
.works_title button:hover {
  transform: scale(1.16);
  transition: all 200ms ease-in-out;
}
.works_exhi {
  height: 560px;
  width: 100vw;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0px 10px;
}
.works_exhi::-webkit-scrollbar {
  display: none;
}
.img_index {
  position: relative;
  display: inline;
}
.works_exhi_index1 {
  height: 540px;
  margin: 0px 10px;
}
.works_exhi_index2 {
  position: absolute;
  left: 0;
  height: 540px;
  margin: 0px 10px;
  opacity: 0;
}
.works_exhi_index2:hover {
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.works_info {
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 20px;
}
.works_info .title {
  line-height: 24px;
}
.title_title {
  margin-bottom: 20px;
  font-size: var(--font-big);
  font-weight: var(--weight-Extra-bold);
}
.title_detail {
  font-size: var(--font-medium);
  /* font-family: var(--typo-nanum); */
}
.works_info .contact {
  text-align: right;
  align-self: flex-end;
}
