.total8_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.total12_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.total16_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.total20_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.total24_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.total32_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.total40_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px 76px 76px 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.total44_grid_container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 76px 76px 76px 76px 76px 76px 76px 76px 76px 76px 76px;
  grid-template-rows: 114px 114px 114px 114px;
  margin: 0px 28px;
}
.dragablImg {
  width: 76px;
  height: 114px;
  position: relative;
  cursor: move;
}
