.eter_spreadH {
  display: none;
}
/* 통일성을 위해 22vh에서 16%로 변경 */
.screenshot_reck {
  height: 22vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-darkgray);
  white-space: nowrap;
  overflow-x: scroll;
}
/* 통일성을 위해 width 제어에서 height 제어로 변경 */
.screenshot {
  height: 90%;
  margin: 0px 20px;
}
.clickedForLoad {
  border: 2px solid black;
}
/* 통일성을 위해 22vh에서 16%로 변경 */
.clicked_reck {
  height: 16%;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 0px 20px;
  background-color: var(--color-darkgray);
}
.clicked_reck::-webkit-scrollbar {
  display: none;
}
.clicked_reck .clicked_img {
  width: 80px;
  height: 120px;
  margin: 0px 4px;
}
