@media screen and (max-width: 768px) {
  .section_eter {
    align-items: center;
  }
  .eter_title {
    width: 100%;
    height: 10vh;
  }
  .eter_title h1 {
    margin-left: 20px;
    font-size: var(--font-max);
  }
  .eter_title h1 span {
    display: none;
  }
  .eter_title button {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    font-size: var(--font-min);
  }
  .eter_reck {
    height: 560px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
    background-color: var(--color-gray);
  }

  .eter_btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0px;
  }
  .eter_btn {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: none;
    background-color: var(--color-white);
    border-radius: 5rem;
    cursor: pointer;
  }
  .push {
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 2px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5rem;
    background-color: var(--color-red);
    color: var(--color-white);
  }

  .fontAwesome {
    font-size: var(--font-medium);
  }

  .screenshot_reck {
    height: 22vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
    background-color: darkgray;
  }
  .screenshot {
    height: 90%;
    margin: 0px 20px;
  }
  .clicked_reck {
    width: 100%;
    height: 22vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 0px 20px;
  }
  .clicked_reck::-webkit-scrollbar {
    display: none;
  }
  .clicked_reck .clicked_img {
    width: 70px;
    height: 105px;
    margin: 0px 4px;
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}
