@media screen and (max-width: 768px) {
  .section_group {
    align-items: center;
  }
  .group_title {
    width: 100%;
    height: 10vh;
  }
  .group_title h1 {
    margin-left: 20px;
    font-size: var(--font-max);
  }
  .group_reck {
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    margin-bottom: 10px;
  }
  .each_group {
    width: 90%;
    height: auto;
    padding: 10px 0px;
  }
  .group_img {
    width: 100%;
    height: auto;
  }
  .group_img_s {
    width: 100%;
    height: auto;
  }

  .group_info {
    width: 100%;
    height: 20vh;
    flex-direction: column;
    justify-content: auto;
    margin: 10px 0px;
  }
  .group_info .title {
    margin-left: 20px;
    line-height: 14px;
  }
  .title_title {
    margin-bottom: 6px;
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
  }
  .title_detail {
    font-size: var(--font-min);
    /* font-family: var(--typo-nanum); */
  }
  .group_info .contact {
    margin-right: 10px;
    font-size: var(--font-min);
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}
