@media screen and (max-width: 768px) {
  .App {
    background-color: var(--color-gray);
  }
  /* --------------------------------------------- Refactoring */
  .section {
    align-items: center;
  }
  .section_title {
    width: 100%;
    height: 9vh;
  }
  .section_title h1 {
    margin-left: 20px;
    font-size: var(--font-max);
  }
  .section_title h1 span {
    display: none;
  }
  .section_title button {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .section_reck {
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
  }
  .img_info {
    margin: 0px 10px;
    font-size: var(--font-small);
  }
  .thumbnail {
    height: 20vh;
    width: 100vw;
    margin: 16px 0px;
    white-space: nowrap;
    overflow-x: scroll;
  }
  .thumbnail_each {
    height: 90px;
    margin-left: 10px;
    margin-right: 16px;
  }
}
@media screen and (max-width: 558px) {
  .section_title button i {
    font-size: var(--font-min);
    transform: translate(-2%, 0%);
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}
