:root {
  /* color */
  --color-black: #13131a;
  --color-white: #e8f1fa;
  --color-gray: #dbdbdd;
  --color-darkgray: #949499;
  --color-ddarkgray: #5c5555;
  --color-dddarkgray: #32393a;
  /* Font size */
  --font-mmax: 50px;
  --font-max: 30px;
  --font-big: 26px;
  --font-medium: 16px;
  --font-regular: 15px;
  --font-small: 14px;
  --font-min: 12px;
  --font-sangmin: 10px;
  /* Font weight */
  --weight-Extra-bold: 700;
  --weight-bold: 600;
  --weight-medium: 400;
  --weight-light: 300;
  /* Font family */
  /* Google */
  --typo-nanum: "Nanum Myeongjo", serif;
}
/* universe */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
/* only Head on project_content */
h1 {
  margin: 0px;
}
/* only name on About */
h2 {
  margin: 0px;
}
p {
  margin: 0px;
}
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.App {
  background-color: var(--color-gray);
}
.imgs {
  height: 350px;
}
.reckImgs {
  height: 400px;
}
.thumbnail {
  height: 200px;
}
footer {
  margin-left: 30px;
  color: var(--color-darkgray);
}
